APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change_me_with_a_long_random_secret
APP_SHARE_DIR=var/share

DEFAULT_URI=https://bac.varascundo.com

# Exemple OVH MySQL:
# DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/DB_NAME?serverVersion=8.0&charset=utf8mb4"
DATABASE_URL="mysql://user:password@host:3306/database?serverVersion=8.0&charset=utf8mb4"

CORS_ALLOW_ORIGIN='^https://nat\.varascundo\.com$'
