{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Back-office{% endblock %}

{% block main %}
    <p>Utilise le menu pour gerer les oeuvres, categories, themes, la page d'accueil et les utilisateurs.</p>
{% endblock %}
